// Specific CSS for your home-page

.container {
  width: 900px;
  margin-bottom: 200px;
  padding: 20px;
}

.card-container {
  width: 80%;
  height: auto;
  margin: auto;
  text-align: center;
  padding: 50px 0px 50px 0px;
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 32px;
}
