// Import page-specific CSS files here.
@import "home";

.index-container {
  width: 80%;
  max-width: 1500px;
  justify-content: center;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}