
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <% @events.each do |event| %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= event.name %></h2>
            <p><%= event.description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-6">
      <%= image_tag 'map_berlin.png', class: 'col-12' %>
    </div>
  </div>
</div>

