.btn-icon {
  color: $dark-grey;
}

.btn-simple {
  background-color: $pink;
  color: white;
  border: 0px solid gray;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-simple:hover {
  opacity: 1;
  font-weight: 400;
  color: white;
  box-shadow: 0 0 23px rgba(126, 97, 97, 0.2);
}

.btn-cancel {
  background-color: $purple;
  color: white;
  border: 0px solid gray;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-cancel:hover {
  opacity: 1;
  font-weight: 400;
  color: white;
  box-shadow: 0 0 23px rgba(126, 97, 97, 0.2);
}

.btn-confirm {
  background-color: $dark-purple;
  color: white;
  border: 0px solid gray;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.btn-confirm:hover {
  opacity: 1;
  font-weight: 400;
  color: white;
  box-shadow: 0 0 23px rgba(126, 97, 97, 0.2);
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $dark-purple;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $dark-purple;
  color: white;
  opacity: 0.9;
}