@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600&display=swap');

.btn-icon {
  color: gray;
}

.btn-simple {
  background-color: #ff8474;
  color: white;
  border: 0px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-simple:hover {
  opacity: 1;
  font-weight: 400;
  color: white;
  box-shadow: 0 0 23px rgba(126, 97, 97, 0.2);
}

.btn-cancel {
  background-color: #9f5f80;
  color: white;
  border: 0px solid #c52d34;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-cancel:hover {
  opacity: 1;
  font-weight: 400;
  color: white;
  box-shadow: 0 0 23px rgba(126, 97, 97, 0.2);
}

.btn-confirm {
  background-color: #583d72;
  color: white;
  border: 0px solid #558528;
  padding: 8px 24px;
  border-radius: 15px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-confirm:hover {
  opacity: 1;
  font-weight: 400;
  color: white;
  box-shadow: 0 0 23px rgba(126, 97, 97, 0.2);
}
