.footer {
  background: #ffc996;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  height: 100px;
  padding:  0px 50px ;
  color: rgba(0,0,0,0.45);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.45;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color: #ff8474;
}
.footer .fa-dumbbell {
  color: #ff8474;
}


