.card {
  width: 355px;
  background-color: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 0px 5px $global-border;
  color: $dark-grey;
  transition: transform 0.1s ease;
}

.card-body {
  padding: 15px;
}

.card:hover {
  transform: scale(1.01);
  opacity: 0.9;
  cursor: default;
}

.card img {
  width: 100%;
  border-radius: 4px;
}

#large-card {
  height: auto;
}
