@import "config/colors";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;600,900&display=swap');

h1 {
  font-size: 60px;
  font-family: 'Roboto' sans-serif !important;
  font-weight: 900;
  text-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  color: $dark-purple

}

h2 {
  font-size: 35px;
  font-family: 'Roboto' sans-serif !important;
  font-weight: 600 !important;
  color: $dark-purple;

}

h3 {
  font-size: 25px;
  font-family: 'Roboto' sans-serif !important;
  font-weight: 600 !important;
  margin: 2px 0 2px 0;
  color: $dark-purple;

}

h4 {
  font-size: 20px;
  font-family: 'Roboto' sans-serif !important;
  font-weight: 400 !important;
  margin: 2px 0 2px 0;
  color: $dark-purple;

}

p {
  font-size: 15px;
  color: $purple;
}

.main-wrapper {
  margin-top: 5rem;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container {
  padding: 20px 0 20px 0;
}

.fas {
  font-size: 20px;
  padding: 0px 5px 0px 5px;
  color: $pink;
}

.show-edit, .show-delete {
  text-decoration: none !important;
  color: $dark-purple;
}
